@import '../../style/variables'

.Logo
  font-size: 8vw
  display: flex
  flex-direction: row
  position: absolute
  bottom: 0
  margin: 0
  color: #FFFFFF

  @media screen and (min-width: $md)
    font-size: 5em

  span
    font-family: $bigJohn
    line-height: 65%