.header
  position: fixed
  top: 0
  left: 0
  height: 5rem
  width: 100vw
  background-color: #654FA3
  transition: 0.5s all cubic-bezier(0.44, -0.3, 0.56, 1.3)
  //will-change: bottom, height

  &.large
    height: 50vh
