@import "../../style/colors"
@import "../../style/variables"

.header
  position: fixed
  top: 0
  left: 0
  height: 5em
  width: 100vw
  background-color: $violet
  transition: 0.5s height $elastic
  justify-content: flex-end

  &.large
    height: 50vh

  .container
    width: $md
    height: 3.5em
    margin: 0 auto
    flex-direction: row

    ul.Navigation
      margin-left: 10em
      justify-content: flex-start

      a
        color: #FFFFFF
        font-size: 1.25em
        font-weight: 300

        li
          transform: translateY(0)
          transition: 0.25s transform $elastic

          &:hover
            transform: translateY(-0.5em)

        &[aria-current="true"]
          color: $yellow

          li:hover
            transform: translateY(0)
