@import 'fonts'
@import 'variables'

body
  margin: 0

h1, h2, h3
  font-family: $bigJohn
  font-weight: 900

h4, h5, h6
  font-family: $slimJoe
  font-weight: 600

div, span, p
  font-family: $raleway
  display: flex

.main-content
  margin-top: 50vh